@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  max-width: 600px;
  margin: 0 auto;
  padding: 1vw;
  background-color: silver;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.item-preview{
  border: 1px solid black;
  margin: 1px;
}

.item-preview__requirements{
  width: 49%;
  display: inline-block;
}

.item-preview__bonuses{
  width: 49%;
  display: inline-block;
}
.item-preview__weapon{
  width: 99%;
  display: inline-block;
}
